nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

span {
  font-family: 'Bungee', sans-serif;
}

/* EXTRA: adding arrow icon */
nav div span {
  display: flex;
  color: red;
  margin-left: 43%;
  transform: rotate(90deg);
}