nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

/* Logo */
span {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
}

/* Arrow icon */
nav div span {
  display: flex;
  /* color: red; */
  margin-left: 43%;
  /* transform: rotate(90deg); */
}

#compose-btn:hover {
  cursor: pointer;
}

#compose-btn:hover span {
  color: red;
  animation: move 1s infinite alternate;
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}