.new-tweet {
  width: 100%;
  margin: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
}

textarea {
  margin-top: 0.5em;
  font-size: 20px;
  resize: none;
  border: none;
  outline: 0;
  background-color: inherit;
  border-bottom: 4px solid #545149;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  padding: 5px;
}

form div {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}