@media screen and (min-width: 1024px) {
  .header-main {
    margin-top: 120px;
    display: inline-flex;
    width: 100%;
  }

  header.page-header {
    margin: 2em;
    width: 50%;
  }

  main {
    margin-top: 120px;
    padding-left: 2em;
  }

  .new-tweet {
    width: 90%;
  }

  #tweets-container {
    width: 90%;
  }
  
  #error-msg {
    margin-top: 2.5em;
    width: 90%;
    font-size: 20px;
  }

  nav {
    background-color: #4056A1;
  }

  header.page-header {
    height: 400px;
  }
}