.tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2em;
  border: 4px solid #545149;
}

/* Hover state */
.tweet-container:hover {
  box-shadow: 0.5em 0.5em #a2a3eb;
}

.tweet-body {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #545149;
  margin: 0;
  padding: 0.5em 0.5em 0 0.5em;
  font-size: 20px;
}

/* Footer icons */
.tweet-icons {
  color: #4056A1;
}

article.tweet {
  width: 100%;
  padding: 1em;
}

article.tweet header {
  flex-direction: row;
  justify-content: space-between;
  background-color: inherit;
  height: auto;
}

article.tweet header div {
  display: flex;
  align-items: center;
}

.username {
  color: #545149;
  margin-left: 0.5em;
}

.handle {
  color: #a2a3eb;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
